//Fonts:
// Colors:
    // Primary
    $c-n-white: hsl(0,0%,100%);
    $c-n-black: hsl(0,0%,0%);
// Screen Variables
    $screen-min: 23.4375rem;
    $screen-max: 90rem;

body{
    min-height: 100vh;
    min-height: 100svh;
}





