:root {
  // layout global variables:
  --container-padding: 4%;
  --header-top-padding: 1.5rem;
}
//--------------------------
.flex {
  display: flex;
  &__row {
    flex-flow: row wrap;
  }
  &__column{
    flex: 1 1 100%;
  }
}

.section {
  max-width: 90rem;
  padding-inline: clamp(1rem, var(--container-padding), 10.3125rem);
  margin-inline: auto;
}
.header {
  padding-top: var(--header-top-padding);
  margin-bottom: 3.5rem;
  &__navbar {
    margin-bottom: 5rem;
  }
  &__hero {
    align-items: center;
    justify-content: center;
    row-gap: 3.5rem;
    column-gap: 3.625rem;
    &__info {
      z-index: 1;
      &__title {
        min-width: max-content;
      }
      &__text {
        margin-block: 2rem;
      }
    }
  }
}
.data-box{
    align-items: center;
    justify-content: space-between;
    gap: 2rem .625rem;
    &__item{
        flex: 1 1 11.875rem;
    }
}



.section-1 {
  position: relative;
  padding-bottom: 4rem;
  &::before {
    content: "";
    position: absolute;
    inset: 12.1875rem 0 0;
    border-radius: 1rem;
    background-color: $c-dark-blue;
    z-index: -1;
  }
  &--wrapper {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
  &__img {
    width: 15.75rem;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 8%;
      bottom: 1.875rem;
      width: 78%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background: #db65e2;
      mix-blend-mode: normal;
      opacity: 0.48;
      filter: blur(67.957px);
      z-index: -1;
    }
  }
  &__curve {
    width: 3.125rem;
  }
  &__info {
    flex-direction: column;
    gap: 2.5rem;
  }
}

.footer {
    position: relative;
    padding-block: 3.5rem 5rem;
    &::before{
        content: '';
        position: absolute;
        inset: -5.625rem 0 0;
        background: $c-cream;
        z-index: -2;
    }
    &__wrapper{
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    &__logo{
        max-width: fit-content;
    }
    &__social{
        max-width: fit-content;
        align-items: center;
        gap: 1.75rem;
    }
}
