html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

*::before, *::after {
  box-sizing: border-box;
}

a {
  color: black;
}

img,
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

svg {
  color: inherit;
}

input {
  outline: none;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  background: hsl(30, 29%, 97%);
}

img, svg {
  width: 100%;
}

:root {
  --container-inline-padding: 4%;
  --header-top-padding: 1.5rem;
}

.block-flex {
  display: flex;
  flex-flow: row wrap;
}
.block-flex__column {
  flex-grow: 1;
  flex-shrink: 1;
}

.flex {
  display: flex;
}
.flex__row {
  flex-flow: row wrap;
}
.flex__column {
  flex: 1 1 100%;
}

.section {
  max-width: 90rem;
  padding-inline: clamp(1rem, var(--container-inline-padding), 10.3125rem);
  margin-inline: auto;
}

.header {
  padding-top: var(--header-top-padding);
  margin-bottom: 3.5rem;
}
.header__navbar {
  margin-bottom: 5rem;
}
.header__hero {
  align-items: center;
  justify-content: center;
  row-gap: 3.5rem;
  -moz-column-gap: 3.625rem;
       column-gap: 3.625rem;
}
.header__hero__info {
  z-index: 1;
}
.header__hero__info__title {
  min-width: -moz-max-content;
  min-width: max-content;
}
.header__hero__info__text {
  margin-block: 2rem;
}

.data-box {
  align-items: center;
  justify-content: space-between;
  gap: 2rem 0.625rem;
}
.data-box__item {
  flex: 1 1 11.875rem;
}

.section-1 {
  position: relative;
  padding-bottom: 4rem;
}
.section-1::before {
  content: "";
  position: absolute;
  inset: 12.1875rem 0 0;
  border-radius: 1rem;
  background-color: hsl(219, 43%, 16%);
  z-index: -1;
}
.section-1--wrapper {
  flex-direction: column;
  align-items: center;
}
.section-1__img {
  width: 15.75rem;
  position: relative;
}
.section-1__img::before {
  content: "";
  position: absolute;
  left: 8%;
  bottom: 1.875rem;
  width: 78%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #db65e2;
  mix-blend-mode: normal;
  opacity: 0.48;
  filter: blur(67.957px);
  z-index: -1;
}
.section-1__curve {
  width: 3.125rem;
  margin: 2.5rem 0 2.3125rem 0;
}
.section-1__info {
  flex-direction: column;
  gap: 2.5rem;
}

.footer {
  position: relative;
  padding-block: 3.5rem 5rem;
}
.footer::before {
  content: "";
  position: absolute;
  inset: -5.625rem 0 0;
  background: hsl(30, 35%, 93%);
  z-index: -2;
}
.footer__wrapper {
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-basis: 0;
}
.footer__logo {
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.footer__info {
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-inline: auto;
}
.footer__social {
  max-width: -moz-fit-content;
  max-width: fit-content;
  align-items: center;
  gap: 1.75rem;
}

.title,
.text {
  font-family: "Epilogue", sans-serif;
  text-align: center;
}

.title {
  font-weight: 700;
  letter-spacing: -0.01em;
}
.title--light {
  font-weight: 400;
}
.title--dark {
  color: hsl(219, 43%, 16%);
  color: red;
}
.title--white {
  color: hsl(30, 29%, 97%);
  color: green;
}
.title--header {
  font-size: 2.375rem;
  line-height: 116%;
  text-align: left;
}
.title--data {
  font-size: 3rem;
  line-height: 117%;
  letter-spacing: 0px;
}
.title--section {
  font-size: 2.5rem;
  line-height: 120%;
}
.title--ID {
  font-size: 1.125rem;
  line-height: 178%;
}

.text {
  font-weight: 400;
  letter-spacing: 0.005em;
}
.text--grey {
  color: hsl(219, 20%, 36%);
  color: red;
}
.text--cream {
  color: hsl(30, 35%, 93%);
  color: green;
}
.text--header {
  font-size: 1rem;
  line-height: 175%;
  text-align: left;
}
.text--section {
  font-size: 1.125rem;
  line-height: 178%;
}
.text--footer {
  font-size: 0.9375rem;
  line-height: 213%;
}
.text--data-ID {
  font-size: 1rem;
  line-height: 162%;
  letter-spacing: 0.15em;
}

.btn-1 {
  --local-btn-f-size: 1.125rem;
  --local-line-height: 178%;
  padding: 0.9375rem 1.9375rem;
  color: hsl(30, 29%, 97%);
  background: hsl(219, 43%, 16%);
}

.btn-2 {
  --local-btn-f-size: 0.875rem;
  --local-line-height: 172%;
  padding: 0.75rem 1rem;
  color: hsl(219, 43%, 16%);
  border: 1px solid hsl(219, 43%, 16%);
}

.btn {
  display: block;
  width: -moz-max-content;
  width: max-content;
  border-radius: 0.375rem;
}
.btn__font {
  display: inline-block;
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  font-size: var(--local-btn-f-size);
  line-height: var(--local-line-height);
  letter-spacing: -0.01em;
}

.navigation-bar {
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.hero-title-curve {
  position: relative;
}
.hero-title-curve::before {
  content: "";
  padding: 1px;
  overflow: hidden;
  position: absolute;
  inset: 0;
  transform: translate(0, -100%);
  background: url(../assets/pattern-curved-line-1.svg) no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.data-module {
  width: -moz-max-content;
  width: max-content;
  margin-inline: auto;
}
.data-module__number {
  color: hsl(219, 43%, 16%);
}
.data-module__info {
  color: hsl(219, 20%, 36%);
  letter-spacing: 0.1563rem;
  text-transform: uppercase;
}

.social-link {
  color: hsl(219, 43%, 16%);
  width: -moz-fit-content;
  width: fit-content;
}

@media (hover: hover) {
  .btn-1:hover {
    background: linear-gradient(135deg, hsl(264, 100%, 69%) 0%, hsl(292, 76%, 54%) 49.21%, hsl(31, 100%, 65%) 100%);
  }
  .btn-2:hover {
    background: hsl(219, 43%, 16%);
    color: hsl(30, 29%, 97%);
  }
  .footer__social__item:hover {
    opacity: 0.5;
  }
}
@media (min-width: 40rem) {
  :root {
    --container-inline-padding: 5.2%;
    --header-top-padding: 2.5rem;
  }
  .header {
    margin-bottom: 5.75rem;
  }
  .header__hero {
    gap: 5.5rem 3.625rem;
  }
  .header__hero__info__text {
    margin-block: 2.5rem;
  }
  .header__hero__info, .header__hero__image {
    flex-basis: 0;
    max-width: 21.875rem;
  }
  .section-1::before {
    left: min(10.3125rem, var(--container-inline-padding));
    right: min(10.3125rem, var(--container-inline-padding));
  }
  .section-1__info {
    margin-inline: 3.625rem;
  }
  .footer {
    padding-block: 4.5rem;
  }
  .footer::before {
    top: -28.75rem;
  }
  .footer__logo, .footer__info, .footer_social {
    flex-basis: 0;
  }
  .heading--hero {
    font-size: 3.5rem;
  }
  .btn-2 {
    --local-btn-f-size: 1rem;
    --local-line-height: 200%;
    padding: 0.75rem 1.5rem;
  }
}
@media (min-width: 40rem) {
  .title--header {
    font-size: 3.5rem;
    line-height: 114%;
  }
}
@media (min-width: 64rem) {
  :root {
    --container-inline-padding: 11.5%;
    --header-top-padding: 2.5rem;
  }
  .header {
    margin-bottom: 9rem;
  }
  .header__hero__data {
    flex-basis: 0;
    max-width: 11.875rem;
  }
  .section-1 {
    padding-bottom: 0;
  }
  .section-1::before {
    top: 3.4375rem;
  }
  .section-1--wrapper {
    flex-direction: row;
    padding-inline: min(7rem, 10%);
  }
  .section-1__img {
    flex: 1 1 375px;
  }
  .section-1__curve {
    align-self: flex-start;
    margin: 15rem 3.2963rem 0 1.875rem;
    width: 4rem;
  }
  .section-1__info {
    flex: 1 1 350px;
    max-width: 21.875rem;
    margin-inline: 0;
    margin-block: 8.9375rem 5.5rem;
  }
  .footer::before {
    top: -12.5rem;
  }
  .heading--section, .heading--accent, .heading--data {
    text-align: start;
  }
  .body--section, .body--accent, .body--data {
    text-align: start;
  }
}
@media (min-width: 64rem) {
  .title,
  .text {
    text-align: left;
  }
  .title--header {
    font-size: 4.5rem;
    line-height: 108%;
  }
  .title--section {
    font-size: 3rem;
    line-height: 117%;
  }
  .text--header {
    font-size: 1.125rem;
    line-height: 178%;
  }
  .text--section {
    font-size: 1.25rem;
    line-height: 175%;
  }
}/*# sourceMappingURL=style.css.map */