@media (min-width: 64rem) {
  :root {
    // layout global variables:
    --container-inline-padding: 11.5%;
    --header-top-padding: 2.5rem;
  }
  .hero {
    &__info {
      margin-right: 7.8125rem;
    }
    &__data {
      flex-basis: 0;
      margin-left: 6rem;
    }
  }
  .data-box {
    justify-content: flex-start;
    row-gap: 3.9375rem;
  }
  .section-1 {
    margin-top: 9.625rem;
    &__wrapper {
      align-items: flex-end;
    }
    &__img {
      max-width: 21.875rem;
    }
    &__curve {
      flex-basis: 0;
      margin-inline: 2.25rem 3.25rem;
      margin-bottom: 19rem;
      max-width: fit-content;
    }
    &__info {
      max-width: 21.875rem;
      margin-block: 8%;
    }
  }
  //----------
  .section-1-image {
    width: 100%;
  }
  //----------

  .title,
  .text {
    text-align: left;
  }
  .title {
    &--header {
      font-size: 4.5rem;
      line-height: 108%;
    }
    &--section {
      font-size: 3rem;
      line-height: 117%;
    }
  }
  .text {
    &--header {
      font-size: 1.125rem;
      line-height: 178%;
    }
    &--section {
      font-size: 1.25rem;
      line-height: 175%;
    }
  }
  .data-module {
    margin-inline: 0 auto;
  }
  .btn-2 {
    padding-inline: 1.5rem;
  }
  .section-1-bg {
    &::before {
      top: 9%;
    }
  }
  .pointer-curve {
    min-width: 2rem;
    width: 100%;
    max-width: 4rem;
  }
  .footer-bg::before {
    top: -100%;
  }
}
