@media (min-width: 64rem) {
  :root {
    // layout global variables:
    --container-inline-padding: 11.5%;
    --header-top-padding: 2.5rem;
  }
  .header{
    margin-bottom: 9rem;
    &__hero{
      &__data{
        flex-basis: 0;
        max-width: 11.875rem;
      }
    }
  }
  .section-1 {
    padding-bottom: 0;
    &::before {
      top: 3.4375rem;
    }
    &--wrapper {
      flex-direction: row;
      padding-inline: min(7rem, 10%);
    }
    &__img {
      flex: 1 1 375px;
    }
    &__curve {
      align-self: flex-start;
      margin: 15rem 3.2963rem 0 1.875rem;
      width: 4rem;
    }
    &__info {
      flex: 1 1 350px;
      max-width: 21.875rem;
      margin-inline: 0;
      margin-block: 8.9375rem 5.5rem;
    }
  }
  .footer {
    &::before {
      top: -12.5rem;
    }
  }

  //------------ modules
  .heading {
    &--section,
    &--accent,
    &--data {
      text-align: start;
    }
  }
  .body {
    &--section,
    &--accent ,
    &--data{
      text-align: start;
    }
  }
}
@media (min-width: 64rem) {
  .title,
  .text {
    text-align: left;
  }
  .title {
    &--header {
      font-size: 4.5rem;
      line-height: 108%;
    }
    &--section {
      font-size: 3rem;
      line-height: 117%;
    }
  }
  .text {
    &--header {
      font-size: 1.125rem;
      line-height: 178%;
    }
    &--section {
      font-size: 1.25rem;
      line-height: 175%;
    }
  }
}