@media (min-width: 42.5rem) {
  //----------- Layout ------------------------------------
  :root {
    // layout global variables:
    --container-inline-padding: 5.2%;
    --header-top-padding: 2.5rem;
  }
  .hero {
    &__info{
      max-width: 21.875rem;
      margin-right: 3.625rem;
    }
    &__image {
      max-width: 21.875rem;
      flex-basis: 15rem;
    }
  }
  .section-1 {
    margin-top: 5.75rem;
    &__wrapper {
      padding-inline: 3.625rem;
    }
  }
  .footer {
    padding-block: 5.9375rem 4.5rem;
    &__info {
      max-width: fit-content;
    }
  }
  // modules
  .title {
    &--header {
      font-size: 3.5rem;
      line-height: 114%;
    }
  }
  .section-1-bg {
    &::before {
      left: min(10.3125rem, var(--container-inline-padding));
      right: min(10.3125rem, var(--container-inline-padding));
    }
  }
  .footer-bg::before {
    top: -28rem;
  }
}
