@media (min-width: 43.75rem) {

    :root {
      // layout global variables:
      --container-padding: 5.2%;
      --header-top-padding: 2.5rem;
    }
    .header {
      &__hero {
        row-gap: 5.5rem;
        column-gap: 3.625rem;
        &__info {
          flex-basis: 0;
          max-width: 21.875rem;
          &__text {
            margin-block: 2.5rem;
          }
        }
        &__image {
          flex-basis: 0;
        }
        &__data {
          &__item{
            flex-basis: 0;
          }
        }
      }
    }
    
  }